/* Issues adding new font */

/* @font-face {
  font-family: "SciFi";
  src: local("../VarinonormalRegular-nRYg4.otf") format("onetype");
   src: url("Barcade-R4LM.otf") format ("opentype"); 
} */

/* TODO */
/* MAKE TITLE SMALLER HERE */

* {
  box-sizing: border-box;
  margin: 0;
}
.hidden {
  display: none;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "SciFi";
  background-image: url("../src/images/alienmicasabg.png");
  background-size: cover;
  background-repeat: no-repeat;

  width: 100vw;
  height: 100vh;
  position: relative;
}

#game {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.btn-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  width: 30%;
  height: 10%;
}

#canvas {
  border: 2px solid #fff49b;
}

#game-canvas {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
}

.timer-container {
  position: absolute;
  color: white;
  top: 0;
  font-size: 3rem;
}

.btn {
  padding: 1rem;
}

.sound-on {
  padding: 0 0.3rem;
}

.astronaut img {
  width: 100%;
  height: 100%;
}

.astronaut {
  width: 10%;
  height: 10%;
  position: absolute;
  z-index: -1;
  left: 0;
}

.bubble {
  animation: bounce 13s linear infinite alternate;
}

@keyframes bounce {
  100% {
    transform: translateX(calc(100vw - 10vw));
  }
}
.inside-bubble {
  animation: bounceElement 7s linear infinite alternate;
}

@keyframes bounceElement {
  100% {
    transform: translateY(calc(100vh - 10vh)) rotate(360deg);
  }
}

footer {
  color: white;
  padding: 1rem;
}
