/* Issues adding new font */
/* @import url("/VarinonormalRegular-nRYg4.otf"); */

/* @font-face {
  font-family: "SciFi";
   src: local("VarinonormalRegular-nRYg4.otf") format("onetype"); 
  src: ("../Barcade-R4LM.otf") format ("opentype");
} */

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "SciFi";
  background-image: url("../src/images/alienmicasabg.png");
  background-size: cover;
  background-repeat: no-repeat;

  width: 100vw;
  height: 100vh;
  position: relative;
}

#homepage {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

footer p {
  color: white;
  font-size: 1rem;
}

.btn-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1rem;
}

.rules-container {
  display: hidden;
  z-index: 1;
}

/* .astronaut {
  width: 3rem;
  height: 3rem;
  /* position: absolute; 
  position: 0, 0;
} */

.rules-container {
  display: none;
  background-color: white;
  position: absolute;

  padding: 1.5rem;
  border-radius: 30px;
}

.rules-container h3 {
  font-size: 2rem;
  padding: 1rem;
}

.rules-container ul {
  list-style: none;
  padding: 0;
}

.show {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.btn {
  padding: 1.5rem;
  border: none;
  border-radius: 20px;
}
