@import url("https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  font-family: Syne Mono;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: url("../src/images/alienmicasabg.png");
  background-size: cover;
  background-repeat: no-repeat;

  width: 100vw;
  height: 100vh;
  position: relative;
}

.title-hidden {
  opacity: 0;
  z-index: -1;
}

#game {
  display: flex;
  justify-content: center;

  align-items: center;
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.btn-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  width: 60%;
  height: 10%;
  margin-top: 1rem;
}

#canvas {
  border: 3px solid #fff49b;
}

#game-canvas {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
}

.timer-container {
  width: 35%;
  padding: 0.8rem;
  position: absolute;
  color: white;
  background-color: #c6dec6;

  border-radius: 15px;
  top: 10px;
  font-size: 2rem;
  text-align: center;
}

.timer-inner {
  width: 100%;
  border-radius: 15px;
  background-color: #20332b;
  padding: 0.5rem;
}

.btn {
  text-align: center;
  padding: 1rem;

  /* font-family: "Open Sans", sans-serif; */
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;

  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px,
    5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

.sound {
  padding: 0.3rem 0.3rem 0 0.3rem;
}

.astronaut img {
  width: 70%;
  height: 70%;
}

.astronaut {
  position: absolute;
  z-index: -2;
  left: 0;
  top: 0;
}

.bubble {
  animation: bounce 20s linear infinite alternate;
}

@keyframes bounce {
  100% {
    transform: translateX(calc(100vw - 5vw));
  }
}
.inside-bubble {
  animation: bounceElement 14s linear infinite alternate;
}

@keyframes bounceElement {
  100% {
    transform: translateY(calc(100vh - 15vh)) rotate(360deg);
  }
}

footer {
  color: white;
  padding: 1rem;
}

.rules-container {
  display: flex;
  flex-direction: column;
  z-index: 1;
  color: white;
  position: absolute;
  align-self: center;

  padding: 1.5rem;
  border-radius: 30px;
  text-align: center;
  width: 60%;
  font-size: 1.5rem;
  flex-grow: 1;
  background-color: #c6dec6;
}

.container-inner {
  width: 100%;
  border-radius: 30px;
  background-color: #20332b;
  padding: 1rem;
}

.rules-text p span {
  padding: 0.5rem;
  display: block;
  line-height: 1.5;
  white-space: pre;
}

.rules-container aside {
  text-align: end;
  font-style: italic;
}

.rules-container h3 {
  font-size: 2rem;
  padding: 1rem;
}

.rules-container ul {
  align-self: center;
  text-align: center;
  padding: 1rem;
}

.rules-container li {
  padding: 0.5em;
}

.smaller {
  width: 80%;
  align-self: center;
}

.smaller img {
  width: 100%;
}

.game-over {
  display: flex;
  justify-content: center;
  width: 50vw;
  height: 50vh;
  z-index: 1;
  position: absolute;
  background-color: #c6dec6;
  padding: 1.5rem;
  border-radius: 30px;
}

.inner {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-content: center;
  text-align: center;
  align-self: center;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  background-color: #20332b;
  padding: 1rem;
  color: white;
}

.alien {
  width: 10%;

  align-self: center;
}

.win-lose {
  font-size: 3rem;
}

.high-score {
  font-size: 3rem;
}
.replay {
  width: 30%;
  align-self: center;
}

.hidden {
  display: none;
}
